

$color-primary: #61a93c;
$color-primary-dark: #43762a;
$color-primary-light: #80ba63;

$color-secondary: #ffab00;
$color-secondary-dark: #b27700;
$color-secondary-light: #ffbb33;

$color-grey-light: #5e5f5f;
$color-grey-dark: #464848;

$svg-fill-primary:  invert(53%) sepia(60%) saturate(462%) hue-rotate(56deg) brightness(96%) contrast(88%);

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600;700&display=swap');

$google-font: 'Inconsolata', monospace;