/* Error: Undefined mixin.
 *    ,
 * 13 | /   @include respond(tab-port-sm){
 * 14 | |       background-position: center;
 * 15 | \   }
 *    '
 *   src/Sass/components/Footer.scss 13:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c    @include respond(tab-port-sm){\a 14 \2502  \2502        background-position: center;\a 15 \2502  \2514    }\a    \2575 \a   src/Sass/components/Footer.scss 13:3  root stylesheet";
}
