/* Error: Undefined variable.
 *   ,
 * 3 |     background-image:linear-gradient(to bottom, rgba($color-primary, .7) , rgba(black, .7)), url('../../assets/images/reflection.jpg');
 *   |                                                      ^^^^^^^^^^^^^^
 *   '
 *   src/Sass/layouts/AboutPage.scss 3:54  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      background-image:linear-gradient(to bottom, rgba($color-primary, .7) , rgba(black, .7)), url('../../assets/images/reflection.jpg');\a   \2502                                                       ^^^^^^^^^^^^^^\a   \2575 \a   src/Sass/layouts/AboutPage.scss 3:54  root stylesheet";
}
