/* Error: Undefined mixin.
 *    ,
 * 13 | /   @include respond(phone){
 * 14 | |     align-items: center;
 * 15 | |     background-image: url("../../assets/images/pencilMeasuments-min.jpg");
 * 16 | \   }
 *    '
 *   src/Sass/layouts/HomePage.scss 13:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c    @include respond(phone){\a 14 \2502  \2502      align-items: center;\a 15 \2502  \2502      background-image: url("../../assets/images/pencilMeasuments-min.jpg");\a 16 \2502  \2514    }\a    \2575 \a   src/Sass/layouts/HomePage.scss 13:3  root stylesheet';
}
