.book {
  &__section {
    padding: 10rem 0;
      background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.3),
      rgba($color-primary-dark, 0.3)
    ),
    url("../../assets/images/fancy-cushion.png");
  }
  &__form {
    width: 80%;
    filter: drop-shadow(0px 0px 40px black);
    border-radius: 10px;
    background-image: linear-gradient(
      149deg,
      rgba($color-secondary, 0.4) 0%,
      rgba($color-white, 0.4) 50%,
      transparent 60%
      ),
      url(../../assets/images/denverCity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 10%;
    &--heading{
      padding: 2.5rem 0;
      font-family: $google-font;
      font-size: 4rem;
      font-weight: 500;
      color: $color-grey-dark;
      text-align: center;
    }
  }
  &__alert {
    position: absolute;
    z-index: 3;
    // top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60%;
    padding: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgba($color-primary-dark, 0.95);
    &--heading {
      font-family: $heading-font;
      padding-bottom: 1rem;
      font-size: 6rem;
    }
    &--close {
      padding: 1rem;
      background-color: $color-grey-dark;
      color: $color-secondary;
      border-radius: 6px;
    }
  }
}

.form {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 100%;
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-family: $google-font;
    border-radius: 3px;
    background-color: rgba(white, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%;
    transition: all 0.3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: $color-primary, $alpha: 0.1);
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
    }
  }
  &__submit {
    margin-bottom: 5rem;
    text-transform: uppercase;
    padding: 0.7rem 1.7rem;
    border-radius: 8px;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    background-color: $color-grey-light;
    color: $color-secondary;
    transition: all .3s;
    &:hover {
      transform: translateY(-2px) scale(1.05);
      box-shadow: 0 1rem 2rem rgba($color: black, $alpha: .2);
    }
  }
}

#spam {
  display: none !important;
}