.integrity {
  &__container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14rem 0 15rem 0;
    margin: -6rem  0 0 0;
    background-color: $color-grey-dark;
    background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-dark, 0.8),
    rgba(black, 0.8)
    ),
    url("../../assets/images/repeated-square-dark.png");
    @include respond(tab-port-sm){
      flex-direction: column;
    }
  }
  &__infoBox{
    display: flex;
    flex-direction: column;
    width: 26rem;
    padding: 3rem;
    height: fit-content;
    text-align: center;
    margin: 2rem;
    border-radius: 10px;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.3),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../assets/images/squared_metal.png");
    box-shadow: 3px 3px 20px $color-secondary-light, 0 0 1.4em $color-secondary;
    @include respond(tab-port-sm){
      width: 50%;
      align-items: center;
      margin-bottom: 12rem;
      padding: 6rem;
    }
  }
  &__icon {
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    filter: drop-shadow(9px 0px 13px $color-primary);
  }
  &__headline {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    font-family:  $google-font;
    @include respond(tab-port-sm){
      font-size: 4rem;
    }
  }
  &__paragraph {
    font-size: 2rem;
    font-weight: 600;
    min-height: 20rem;
    font-family:  $google-font;
    @include respond(tab-port-sm){
      font-size: 3rem;
    }
  
  }

}