.navbar {
  &__container {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding-right: 3rem ;
    
    &--links {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    &--phoneQuote {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &__link {
    font-size: 2.5rem;
    color: $color-primary-light;
    font-family: $google-font;
    text-decoration: none;
    margin: 0 0 0 3rem;
    &:hover{
      text-decoration: underline;
      color: $color-secondary;
    }
  }

  &__brand {
    height: 20rem;
    padding: 2rem;
  }

  &__phoneIcon {
    filter: $svg-fill-primary;
    width: 6rem;
  }
}

.callNow{
  display: flex;
  justify-content: center;
  color: $color-primary-light;
  align-items: center;
  background-color:$color-grey-dark;
  width: fit-content;
  border-radius: 20px;
  margin-right: 1rem;
  padding-right: 1rem;
  &:hover {
    box-shadow: 3px 3px $color-secondary-light, 0 0 .4em $color-secondary;
  }
  
  &__phoneNumber {
    font-size: 2rem;
  }
}

.get-a-quote-bounce-enter{
  transform: scale(0);
}
.get-a-quote-bounce-enter-active{
  transform: scale(1.5);
  transition: all 2s ease-in;
}