.about {
  &__page{
    // background-image: url('../../assets//images/greenRoof.jpg');
    background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.5),
    rgba($color-primary-dark, 0.8)
    ),
    url("../../assets/images/cityBlock2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    min-height: fit-content;
    padding-bottom: 10rem;
  }
  &__container {
    width: 100%;
    height: fit-content;
    min-height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20rem 0 0 0;
    position: relative;

    &--2{
      width: 100%;
      min-height: 30rem;
      height: fit-content;
      display: flex;
      align-items: center;
    }
    &--3{
      width: 100%;
      min-height: 30rem;
      height: fit-content;
      display: flex;
      align-items: center;

    }
  }

  &__paragraph {
    font-size: 3rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.747);
    height: fit-content;
    border-radius: 5px;
    padding: 4rem 6rem;
    margin: 10rem 10rem;
    background-color: rgba(black, .7);
    position: absolute;
    font-family: $google-font;
  }
  &__heading{
    position: absolute;
    box-shadow: 0px 0px 8px $color-primary ;

    background-color: rgba(0, 0, 0, 0.9);;
    padding: 2rem;
    top: -15rem;
    color: rgba(245, 245, 245, 0.671);
    font-size: 8rem;
    font-family: $google-font;
    filter: drop-shadow(0px 0px 1px white);


  }
}